@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#body-wrapper {
  margin-top: 30px;
}

#hidden {
  display: none;
  color: purple;
}

/* ----------
 alert messages
---------- */

#alert-container {
  margin: 0 auto;
}

.alert {
  margin-top: 20px;
}

/* ----------
 Navbar
---------- */


.FlexNavbar {
  margin-top: 50px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.fa-chevron-up, .fa-chevron-down {
  position: relative;
  top: 0px;
  left: 5px;
}

.nav-new-message {
  background-color: #f17070;
    color: #fff;
    padding: 2px 5px;
    font-size: .7em;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: -10px;
}

#hamburger-menu {
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  top: 0px;
  left: 5px;
}

.header-brand {
  justify-items: flex-start;
}

.hidden-display-item {
  display: none;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #A8A8A8;
}

.dropdown-nav {
  margin: 0;
  border: 1px solid #ccc;
  z-index: 2;
  position: absolute;
  background-color: white;
}

.dropdown-nav .connect {
  top: 130px;
}

.dropdown-nav .account {
  top: 170px;
}

/* ----------

---------- */

.ListItem {
  align-items: center;
  border: 1px solid #DCDCDC;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.ListItem:hover {
  background-color: #f8f9fa;
}

.task-name {
  margin: 15px 0;
}

.item-modify-options {
  display: flex;
}

.completed-task {
  color: #777;
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through;
}

.item-modify-options span {
  margin: 0px 10px;
}

.authenticate-form {
  color: white;
  top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.auth-sub-text {
  color: #fff;
}

label {
  float: left;
}

i {
  position: relative;
  top: 4px;
  cursor: pointer;
}

.module-title {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #17a2b8;
}

.fa-pencil-square-o:hover {
  color: #003366;
}

.fa-check-circle-o:hover, .fa-check:hover, .thumbs-up-icon {
  color: #336600;
}

.fa-trash-alt:hover, .fa-times:hover {
  color: #B22222;
}

/* -------------
 Homepage
------------- */
.home-container {
  min-height: 100vh;
  width: 100%;
  background-color: #EAEAEA;
}

.home-title-container {
  padding-top: 50px;
  width: 100%;
}

.home-title {
  font-size: 72px;
  font-weight: 900;
  color: #17a2b8;
}

.home-subtitle {
  font-size: 32px;
  font-weight: 100;
  color: #17a2b8;
}

.home-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------
 Login and Register
------------- */

#auth-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jailam-rashad-1061261-unsplash.jpg);
  filter: brightness(50%);
  height: 700px;
  width: 100%;
}

/* -------------
 User's Bucket List Component/Page
------------- */
.bucket-list-content {
  max-width: 75rem;
  margin: 0 auto;
}

.bucket-list-count {

}

.bucket-list-items {
  margin: 0 !important;
  padding: 0 !important;
}

#bucket-list-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jackie-tsang-458443-unsplash.jpg);
  height: 500px;
  width: 100%;
}

.page-title {
  margin-bottom: 15px;
}

.sub-header {
  font-size: 20px;
  font-style: italic;
}

.input-group {
   margin: 0 auto;
}

.container-list-filter {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 3px !important;
  margin-bottom: 5px !important;
}

.list-filter {
  padding: 15px 5px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2px;
  background-color: #f8f9fa;
}

.list-filter-dropdown {
  width: 100%;
  padding: 15px 5px !important;
}

/* -------------
 Activity Feed
------------- */
.post-module {
  background-color: #fff;
  border: 1px solid #e9ebee;
  padding: 0 !important;
  margin: 0 0 15px 0 !important;
}

.border-bottom {
  border-bottom: 1px solid #e9ebee;
}

.border-top {
  border-top: 1px solid #e9ebee;
}

.post-module-content {
  padding-top: 5px;
  padding-bottom: 2px;
}

.post-module-top {
  padding: 10px !important;
  margin: 0px !important;
}

.post-module-author-name {
  color: #17a2b8;
}

.post-module-profile-img {
  background-image: url(./assets/images/dog1-sq.jpg);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.comment-module {
  background-color: #fff;
  border: 1px solid #e9ebee;
  padding: 5 !important;
  margin: 0 0 15px 0 !important;
}

.comment-module-author {
  padding: 10px !important;
  margin: 0 !important;
}

.comment-module-content {
  padding: 15px !important;
  margin: 0 !important;
}

.ActivityFeed {
  margin-top: 15px;
}

.activity-content {
  margin: 0 auto;
}

.Post {
  display: grid;
  background-color: #fff;
  position: relative;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.remove-file {
  position: relative;
  top: 1px;
  padding-right: 5px;
}

.remove-comment {
  position: relative;
  top: 1px;
  padding-right: 5px;
}

.input-file + label {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #17a2b8;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.fa-upload {
  margin-right: 15px;
  position: relative;
  left: 8px;
  top: 0px;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: #117a8b;
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.remove-img-btn {
  background-color: #17a2b8;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  color: #fff;
}
.remove-comment-btn {
  border-radius: 5px;
  padding: 5px 10px;
  width: 6%;
  color: #fff;
  opacity: .1;
}
.remove-comment-btn:hover{
  background-color: #17a2b8;
}
.card {
  margin: 10px;
}

.card-header {
  width: 100%;
}

.post-profile-img {
  background-image: url(./assets/images/dog1-sq.jpg);
  background-size: cover;
  height: 42px;
  margin-top: 10px;
  margin-left: 5px;
  width: 42px;
  border-radius: 50%;
}

.post-img {
  margin: 0 auto;

}

.post-author {
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 55px;
}

.post-date {
  color: #6c757d;
  font-size: 12px;
  text-align: right;
  position: relative;
  top: -30px;
  right: 15px;
}

.post-content {
  margin: 30px 15px 15px 15px;
  position: relative;
  top: -40px;
  text-align: left;
  font-size: 13px;
}

.post-img {
  width: 80%;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.new-post-container {
  padding: 30px;
  margin-bottom: 15px;
  background-color: #fbfbfb;
  border: 1px solid #e9ebee;
}

.new-post-input {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}

#post-btn {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

/* -------
 Friends
-------- */

.privacy-status-private {
  background-color: #f17070;
    color: #fff;
    padding: 5px 5px;
    font-size: .7em;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: -15px;
    left: -20px;
}

.privacy-status-public {
  background-color: #84bb77;
    color: #fff;
    padding: 5px 5px;
    font-size: .7em;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: -15px;
    left: -20px;
}

.segmentBtn-container {
  margin: 30px;
}

.friend-info-item {
  border: 1px solid #ccc;
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
}

.friend-username {
  position: relative;
  top: 7px;
}

.friend-info-item:hover {
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.friends-page-title {
  margin: 20px 0px;
}

/* -------
User Profile
--------- */


.profile-container {
  /* background-color: #2c3e50;
  padding-top: 70px;
  width: 100%;
  height: 550px; */
  margin-top: 30px;
}

.profile-headshot-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin: 0 auto;
  padding: 10px;
  width: 275px;
  height: 330px;
  margin-bottom: 10px;
}

.profile-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.profile-img {
  background-image: url(./assets/images/dog1-sq.jpg);
  background-size: cover;
  border: 1px solid #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile-image {
  height: 200px;
  border-radius: 10px;
}


/* ---------
Like component
---------- */

.like-container, .comment-icon-container {
  display: inline-block;
  border-top: 1px solid #cccccc;
  width: 50%;
  text-align: center;
  padding: 8px;
}

.like-container span, .comment-icon-container span {
  padding: 5px;
}

.comment-icon-container {
  display: inline-block;
}

.comment-container {
  margin: 10px 0px;
}

.Comment {
  border: 1px solid #cccccc;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.comment-content {
  font-size: 14px;
  text-align: left;
  position: relative;
  top: -10px;
  left: 60px;
}

.comment-input {
  margin: 0 auto;
  width: 80%;
}

.report-modal-content {
  margin: auto;
  padding: 25px;
  background-color: #fff;
  width: 80%;
}

.report-modal-display {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* ---------
Settings
---------- */

.settings-module {
  padding: 25px 25px;
  border: 1px solid #e9ebee;
  background-color: #fff;
}

.settings-container {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #cccccc;
}

.settings-change-btn {
  text-align: right;
}

.settingsValue {
  text-align: center;
}

table {
  width:100%;
}

.table-row {
  border: 2px solid green;
  width: 1000px;
}

td {
  width:33%;
  text-align: left;
}


/* ---------
Activity Feed page
---------- */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.activity-feed-content {
  max-width: 75rem;
  margin: 0 auto;
}

.activity-feed-user-info {
  padding: 5px !important;
}

.activity-feed-user-info-module {
  background-color: #f6f6f6;
  border: 1px solid #e9ebee;
  border-radius: 2px;
  margin-top: 10px !important;
  padding-bottom: 15px;
}

.activity-feed-user-info-card-bg {
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jennvmy_-1194676-unsplash.jpg);
}

.activity-feed-user-info-card-body {
  padding: 5px 15px;
  margin: 0px 0px !important;
}

.activity-feed-user-info-card-avatar {
  margin-top: -40px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  border: 2px solid #f6f6f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.activity-feed-user-info-card-name {
  margin-left: 15px;
}

.activity-feed-user-info-card-bio {
  margin: 0 !important;
  padding: 0 15px !important;
}

.activity-feed-user-groups-item {
  background-color: #fff;
  padding: 5px 5px;
  border: 1px solid #e9ebee;
}

.activity-feed-user-messages-item {
  background-color: #fff;
  padding: 5px 5px;
  border: 1px solid #e9ebee;
  text-align: left;
}

.activity-feed-body {
  padding: 5px !important;
}

.activity-feed-body-module {
  background-color: #f6f6f6;
  border: 1px solid #e9ebee;
  border-radius: 2px;
  margin-top: 10px !important;
  padding-bottom: 15px;
}

.activity-feed-body-load {
  background-color: #dcdcdc;
  padding: 5px;
  border: 1px solid #e9ebee;
}

.activity-feed-friends {
  padding: 5px !important;
}

.activity-feed-friends-module {
  background-color: #f6f6f6;
  border: 1px solid #e9ebee;
  border-radius: 2px;
  margin-top: 10px !important;
  padding-bottom: 15px;
}

.module-no-bg {
  border: none;
  background-color: inherit !important;
}

/* ---------
Task Group page
---------- */
.task-group-members-user-item-card-container {
  position: relative;
}

.task-group-members-user-item-card {
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: -175px;
  right: 240%;
  background-color: #fff;
  border: 1px solid #CCC;
  width: 250px;
  padding-bottom: 15px;
}

.task-group-members-user-item {
  padding: 8px;
}

.task-group-content {
  max-width: 75rem;
  margin: 0 auto;
}

.task-group-body {
  width: 100%;
  min-height: 100vh;
  padding: 25px;
}

.task-group-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jennvmy_-1194676-unsplash.jpg);
  /*filter: brightness(50%);*/
  height: 300px;
  width: 100%;
  margin-bottom: 0px !important;
}

.task-group-jumbotron-container {
  color: black;
  top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  margin-bottom: 0px;
}

.task-group-members-nav {
  background-color: #fff;
  border: 1px solid #cccccc;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
}

.task-group-members-nav > h3 {
  color: #333;
  font-size: 1em;
}

.task-group-jumbotron-container > .btn {
  margin: 5px;
}

.side-members {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.task-group-members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.task-group-members-list-item:hover {
  background-color: #f7f7f7;
}

.shadow-text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.shadow-text-blue {
  color: #17a2b8;
  text-shadow: 2px 2px 4px #000000;
}

.bold-text {
  font-weight: 900;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* ----------
 Messages
---------- */

.message-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 40vh;
}

.message {
  margin-bottom: 25px;
}

.message-form {
  margin: 20px 0px 100px 0px;
  display: flex;
  flex-direction: row;
}

.message-btn {
  display: inline;
}

.MessageFeed {
  margin-top: 35px;
  /* width: 100%;
  height: 550px; */
  height: 60vh;
  border: 2px solid #ededed;
  overflow-y: scroll;
}

.message-groups-list {
  margin: 0 auto;
  margin-top: 35px;
  /* width: 400px;
  height: 500px; */
  height: 60vh;
  overflow-y: scroll;
  background-color: #2c3e50;
  color: #fff;
}

.msg-author {
  font-size: 25px;
  position: relative;
  top: 5px;
}

.msg-created-at {
  margin: 10px;
  text-align: right;
  color: Gray;
}

.msg-header-container {
  position: relative;
  left: 35px;
  top: 10px;
}

.msg-text-container {
  margin: 5px;
  position: relative;
  left: 70px;
  top: 10px;
  text-align: left;
  width: 90%;
}

.message-group-list-item {
  height: 50px;
  padding: 40px 0px 0px 40px;
  text-align: left;
  position: relative;
  right: 10px;
}

.message-group-list-item h2 {
  /* font-size: 25px; */
  font-size: 20px;
}

.message-group-list-item:hover {
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
}

.message-group-header {
  margin-top: 10px;
  font-size: 20px;
}

#message-group-divider {
  border: .5px solid #fff;
}

.list-item-msg {
  position: relative;
  top: 8px;
}

.new-group-container {
  margin-top: 20px;
}

.group-info-input {
  margin: 10px 0px;
}

.new-group-form-container {
  display: block;
}

.new-group-item {
  margin: 5px;
}

.new-member {
  font-family: 'Wendy One', sans-serif;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px 0px 10px;
}

.new-member:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.new-member-remove-icon {
  margin-left: 10px;
  position: relative;
  top: 1px;
}

/* ----------
 Public Profile
---------- */
.public-profile-content {
  max-width: 75rem;
  margin: 0 auto;
}

.public-profile-posts {
  margin-top: 15px !important;
  padding: 0px !important;
}

.public-profile-basic {
  max-width: 75rem;
  padding: 25px !important;
  background-color: #f6f6f6;
}

.public-profile-avatar {
  margin-top: -125px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 5px solid #f6f6f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.public-profile-basic-bg {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/jennvmy_-1194676-unsplash.jpg);
}

.public-profile-bucket-list-module {
  margin-top: 15px !important;
  padding: 5px 15px !important;
  border: 1px solid #e9ebee;
}

/* ----------
 MISC
---------- */
.button-google {
  border: none;
  color: #757575;
  background-color: #FFF;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.button-google-logo {
  width: 18px;
  height: 18px;
  margin-right: 24px;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #bfbfbf;
}

.circle-progress {
  stroke: #17a2b8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2em;
  font-weight: bold;
  fill: #17a2b8;
}

.circle-text-small {
  font-size: 1em;
  fill: #17a2b8;
}

.circle-text-bottom {
  font-size: 2em;
  font-weight: bold;
  color: #17a2b8;
}

.post-text {
  width:860px;
  padding-top:5px;
  border-width:1px;
  padding-left:13px;
  padding-bottom:10px;
  overflow-wrap: break-word;
  text-align: left;
}

.post-comment {
  width:800px;
  padding-top:5px;
  border-width:1px;
  padding-left:13px;
  padding-bottom:10px;
  overflow-wrap: break-word;
  text-align: left;
}

@media (min-width: 800px) {

  #hamburger-menu {
    display: none;
  }

  .hidden-display-item {
    display: block;
  }

  .FlexNavbar {
    margin-top: 0px;
    border-bottom: 1px solid #cccccc;
    flex-direction: row;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .header-brand {
    justify-items: flex-start;
  }

  .activity-content, #post-btn {
    width: 100%;
  }

  .new-post-input {
    width: 100%;
  }

}

@media (min-width: 1200px) {

  .activity-content, #post-btn {
    width: 100%;
  }

  .ListItem {
    max-width: 100%;
    margin: 0 auto;
  }

  .new-post-input {
    width: 100%;
  }

}


@media (min-width: 1200px) {

  .item-modify-options span {
    margin: 0px 20px;
  }

}
